.env
db.sqlite3
*/__pycache__
app/migrations
app/views/__pycache__
app/templatetags/__pycache__
*/__init__.py
bot/__pycache__
instagrambot/__pycache__
instagrambot/__init__.py
staticfiles
files
filebot